@import "functions";

::-webkit-scrollbar-track {
  background-color: rgb(137, 192, 192);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58, 88, 88);
  outline: 1px solid rgb(58, 88, 88);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.active {
    overflow: hidden;
  }
}

img {
  display: block;
}

ul.no-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  //padding: 20px 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

h1,
h2 {
  //text-transform: uppercase;
}

h1 {
  font-size: rem(32px);
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section {
  overflow-x: hidden;

  p {
    font-size: rem(18px);
    line-height: 2;
  }
  .title {
    font-size: rem(24px);
    font-weight: 800;
  }

  .title,
  p {
    padding: em(10px);
    margin: 0;
  }

  .skew {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #b8d33e;
      transition: width 0.5s ease-in-out;
      will-change: transform;
      z-index: 0;
    }

    h2 {
      font-size: rem(62px);
      line-height: 1;
      position: relative;
      transform: rotate(-4deg);
      margin-top: em(20px);
      margin-bottom: em(0);
      font-family: "Open Sans";
      color: rgba(#fff, 0.6);
      z-index: 101;
    }
  }
}
