.bubbles {
  margin: 0;
  padding: 0.625em;
  list-style: none;
}
.bubbles > li {
  padding: 1em;
  margin: 0.625em 0;
  background: rgba(184, 211, 62, 0.3);
  font-size: 0.875rem;
  border-radius: 0.25em;
  font-weight: 800;
}