@import "functions";

.bubbles {
  margin: 0;
  padding: em(10px);
  list-style: none;

  > li {
    padding: em(16px);
    margin: em(10px) 0;
    background: rgba(#b8d33e, 0.3);
    font-size: rem(14px);
    border-radius: em(4px);
    font-weight: 800;
  }
}
